<div class="container p-2 text-center mx-5 mt-5" id="page-content">
    <%= image_tag('camille-orgel-SKcTKYNRvHY-unsplash.jpg', height: "700", width: "1800") %> 
    <div class="centered">
        <h3 class="display-3 text-white">Alpha Blog</h3>
    </div>
    <div class="bottom">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
