<div class="container-fluid text-center" id="home-container">
    <%= image_tag('camille-orgel-SKcTKYNRvHY-unsplash.jpg', height: "700", width: "1800") %> 
    <div class="centered">
        <h3>Alpha Blog</h3>
    </div>
    <div class="bottom">
        <button type="button" class="btn btn-success btn-lg">Sign Up</button>
    </div>
</div>

<p>
  <%= link_to 'Articles Listing', articles_path %> |
  <%= link_to 'About Page', about_path %>           
</p>
