@import 'bootstrap/dist/css/bootstrap';

$font-family-sans-serif: Roboto;

.navbar {
    background-color: DarkGreen !important;
}

.nav-link {
    font-family: $font-family-sans-serif;
    color: white !important;
}

#logo {
    font-family: $font-family-sans-serif;
    float: left;
    color: white !important;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1px;
}

body {
    font-family: $font-family-sans-serif;
    height: 100%;
    background-color: lightgrey;
}

#page-content {
    flex: 1 0 auto;
}

#home-container {
    background-image: asset-url('camille-orgel-SKcTKYNRvHY-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signup {
    font-family: $font-family-sans-serif;
}

.bottom {
    position: absolute;
    top: 60%;
    left: 48%;
}

#sticky-footer {
   margin-top: 120px; 
}

