@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: DarkGreen !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    color: white !important;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
}

#home-container {
    height: 700px;
    width: 1200px;
    margin-left:50px;
    margin-right:50px;
    margin-top:35px;
}

h3 {
    color: white;
    font-size: 74px;
}

.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    top: 550px;
    left: 900px;
}

p {
    margin-top: 35px;
    margin-left: 850px;
}

#cp_footer {
    margin-top: 20px;
    margin-left:900px;
}
